!!!
%html
  %head
    %title &lt;CWDG/&gt; Web Ninjas Unite
    %link(href="favicon.ico" rel="icon" type="image/x-icon")
    %link(href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="css/print.css" media="print" rel="stylesheet" type="text/css")
    /[if lt IE 8]
      <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  %body.bp
    #header
      %ul.relevant-links
        %li.last
          %a.button{:target => "blank", :href => "http://groups.google.com/group/cwdgosu"} Mailing List Archives
          %li
            %a.button{:target => "blank", :href => "http://www.twitter.com/cwdgosu"} Twitter
          %li
            %a.button{:target => "blank", :href => "http://www.facebook.com/groups/cwdgosu/"} Facebook
          %li
            %a.button{:target => "blank", :href => "https://github.com/CWDG"} GitHub
          %li.first
            %a.button{:target => "blank", :href => "http://go.osu.edu/cwdglist"} Join the Mailing List        
      %h1 <span class="tag">&lt;</span>Collegiate Web Developers Group<span class="slash">/</span><span class="tag">&gt;</span>
    #container
      #content
        .section.announcement
          %h2 Announcement: Meetings will be on <strong>Wednesday</strong>
          .content
            :markdown
              After talking to several people in the group I've decided to move the meetings to Wednesdays. This is easier for the majority of people and is more in-line with local meetup groups.
        .section.about
          %h2 What is CWDG?
          .content
            %p
              We are a collection of students, graduates and alumni at the Ohio
              State University who are making an effort to improve the web. We
              work hard to make ourselves, and others, better developers.
        .section.membership
          %h2 How can I Join?
          .content
            %p
              If you are an OSU student who wants to get involved in web
              development this club is for you. It doesn't matter if you are an
              experienced developer or a beginner. CWDG offers something for all
              skill levels.
        .section.meetings
          %h2 And the meetings are . . . ?
          .content
            :markdown
              We are currently meeting *every Wednesday* at *7:00pm* in *Dreese
              Labs* room *305*. Most meetings will be on campus at this
              location. Sometimes these meetings will be tutorials are other
              small projects while other days there might be a guest speaker.
              [Join the mailing list](http://go.osu.edu/cwdglist) to see what's
              coming up.
    #footer
      :markdown
        Email [cwdgosu@gmail.com](mailto:cwdgosu@gmail.com) for more information.
