!!!
%html
  %head
    %title &lt;CWDG/&gt; Web Ninjas Unite
    %link(href="favicon.ico" rel="icon" type="image/x-icon")
    %link(href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="css/print.css" media="print" rel="stylesheet" type="text/css")
    /[if lt IE 8]
      <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  %body.bp
    #header
      %ul.relevant-links
        %li.last
          %a.button{:target => "blank", :href => "http://groups.google.com/group/cwdgosu"} Mailing List Archives
          %li
            %a.button{:target => "blank", :href => "http://www.twitter.com/cwdgosu"} Twitter
          %li
            %a.button{:target => "blank", :href => "http://www.facebook.com/groups/cwdgosu/"} Facebook
          %li
            %a.button{:target => "blank", :href => "https://github.com/CWDG"} GitHub
          %li
            %a.button{:target => "blank", :href => "irc.html"} Chat on IRC
          %li.first
            %a.button{:target => "blank", :href => "http://go.osu.edu/cwdglist"} Join the Mailing List        
      %a.banner{href: '/'}
        %h1 <span class="tag">&lt;</span>Collegiate Web Developers Group<span class="slash">/</span><span class="tag">&gt;</span>

    #container
      #content

        .section.about
          %h2 What is CWDG?
          .content
            %p
              We are a collection of students, graduates and alumni at the Ohio
              State University who are making an effort to improve the web. We
              work hard to make ourselves, and others, better developers.

        .section.membership
          %h2 How can I Join?
          .content
            %p
              If you are an OSU student who wants to get involved in web
              development this club is for you. It doesn't matter if you are an
              experienced developer or a beginner. CWDG offers something for all
              skill levels.

        .section.meetings
          %h2 And the meetings are . . . ?
          .content
            :markdown
              We are currently meeting **every Wednesday** at **7:00pm** in **Dreese
              Labs** room **305**. Most meetings will be on campus at this
              location. Sometimes these meetings will be tutorials are other
              small projects while other days there might be a guest speaker.
              [Join the mailing list](http://go.osu.edu/cwdglist) to see what's
              coming up.

        .section.new-members
          %h2 How do I get started?
          .content
            :markdown
              The best way to get started is to show up to our
              meetings. We generally shoot for a split meeting
              format. The first hour we will present a topic to the
              members. The second hour is for them to explore that
              topic on their own laptop to gain experience.

              Before you attend your first meeting, it is recommended
              you follow our 
              [Developer Setup Tutorial](dev_ruby_setup.html "Developer Machine Setup")
              so you can be productive as soon as you start. 

              You may also want to familiarize yourself with the 
              [Ruby Programming Language](http://www.ruby-lang.org/ "Ruby") or look over
              our past meeting materials to familarize yourself with the topics you've missed.

              If you do nothing else, **[Sign Up For The Mailing List]("http://go.osu.edu/cwdglist")**
              so we can let you know about all the sweet things we are doing.
              

        .section.schedule
          %h2 Tentative Meeting Schedule
          .content
            :markdown
              ### Wed August 29
              - 7:00pm - Detailed Look into the Internet: Behind the Scenes of Your Browser
                  - [Presentation Slides](http://cwdg.github.com/HTTP-and-How-the-Web-Works-Presentation/#slide1 "Slides")
              - 8:00pm - Your First Website: Setting Up a Simple Web Server *Interactive!* 
                  - [Developer Setup Instructions](dev_ruby_setup.html "Developer Machine Setup")

              ### Wed September 5
              - 7:00pm - The Ruby Programming Language
                  - [Blackjack Starter](https://github.com/CWDG/blackjack "Just a Card")
              - 8:00pm - Ruby Koans *Interactive!*
                  - [Ruby Koans online](http://rubykoans.com/ "Ruby Koans")

              ### Wed September 12
              - 7:00pm - Sinatra Returns: Whirlwind Tour of HTML, CSS, Javascript
                  - [Presentation Slides](http://bit.ly/TUthci "Slides")
              - 8:00pm - Your Second Website: Variations on a Theme *Interactive!*
                  - [Sample Sinatra Site](https://github.com/CWDG/hello_sinatra "More Sinatra")

              ### Wed September 19
              - 7:00pm - TBD
              - 8:00pm - TBD

              ### Wed September 26
              - 7:00pm - Seemless Updates with jQuery & Ajax
              - 8:00pm - Adding User Interaction *Interactive!*

              ### Wed October 3
              - 7:00pm - Production Applications: Polish and Deployment
              - 8:00pm - Add Bootstrap and Deploy to Heroku *Interactive!*

              ### Wed October 10
              - 7:00pm - Into the Magic Kingdom: Ruby on Rails
              - 8:00pm - Your First Rails App *Interactive!*

        .section.interaction
          %h2 Interactive You Say?
          .content
            :markdown
              Bring your laptop because this part is going to be fun.
              Learn to build web apps right there in the meeting and try out
              the crazy new topic discussed in earlier.

              #### ...Windows?

              We thrive on Open Source. Most of the technologies we
              will be speaking about aren't very well supported on
              Windows. Don't have Linux or Mac? No problem, we can
              help you get setup with a fresh install of Ubuntu or you
              can work off a live cd and push your work to Github when
              the night is over.


    #footer
      :markdown
        Email [cwdgosu@gmail.com](mailto:cwdgosu@gmail.com) for more information.
