!!!
%html
  %head
    %title &lt;CWDG/&gt; Web Ninjas Unite
    %link(href="favicon.ico" rel="icon" type="image/x-icon")
    %link(href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="css/print.css" media="print" rel="stylesheet" type="text/css")
    /[if lt IE 8]
      <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />

  %body.bp
    #header
      %ul.relevant-links
        %li.last
          %a.button{:target => "blank", :href => "http://groups.google.com/group/cwdgosu"} Mailing List Archives
          %li
            %a.button{:target => "blank", :href => "http://www.twitter.com/cwdgosu"} Twitter
          %li
            %a.button{:target => "blank", :href => "http://www.facebook.com/groups/cwdgosu/"} Facebook
          %li
            %a.button{:target => "blank", :href => "https://github.com/CWDG"} GitHub
          %li
            %a.button{:target => "blank", :href => "irc.html"} Chat on IRC
          %li.first
            %a.button{:target => "blank", :href => "http://go.osu.edu/cwdglist"} Join the Mailing List        
      %a.banner{href: '/'}
        %h1
          %span.tag &lt;
          Collegiate Web Developers Group
          %span.slash /
          %span.tag &gt;

    #container
      #content
        .section.goal
          %h2 Rails Bootcamp Setup 
          .content
            :markdown
              Before performing these setps, you need to first [get set up with
              RVM and ruby](dev_ruby_setup.html) (you can skip steps 5 through 7). 

              In addition to setting up RVM and Ruby, you'll need to install Rails itself and
              get a [Heroku](http://www.heroku.com/) account, as that's where you'll be
              uploading your rails site for testing.

        .section.rails
          %h2 1. Install Rails
          .content
            :markdown
              Rails is fairly easy to install. In fact, it's exactly like installing Sinatra.
              Simply run

              >     gem install rails -v=3.2.12

              Once this completes, you should be all set.

        .section.heroku
          %h2 2. Sign up for Heroku
          .content
            :markdown
              [Heroku](http://www.heroku.com/) is a service for hosting salable web
              applications. We'll be hosting our rails apps here since it's super easy to
              deploy to and free for what we'll be using it for.

              Go [sign up](https://api.heroku.com/signup) for an account.

              In the past you'd have to install the heroku rubygem, but now
              Heroku recommends you donwload and isntall the Heroku toolkit
              from the site.

              > curl -s https://toolbelt.heroku.com/install.sh | sh  
              > PATH="/usr/local/heroku/bin:$PATH"  
              > echo 'PATH="/usr/local/heroku/bin:$PATH"'  

              zsh users need to run the command below: (if you don't know what
              it is you aren't using it)

              > echo 'PATH="/usr/local/heroku/bin:$PATH"' >> ~/.profile 

              This requires root/admin on the machine you're working on. If you
              don't have it, instead

              > gem install heroku

              Now you should go ahead and log in.

              > heroku login

              Answer yes if it asks about a key.

              You should be all set!


        .section.faq
          %h2 FAQ
          .content
            :markdown
              - **What do you mean by "run this command"?**
                  - In your terminal application, type or paste the code snippet and hit enter.
              
              - **I'm typing my password, but nothing shows up.**
                  - Don't worry! It is still working, it is just hiding your password from
                    anyone who might be standing behind you. When you are finished, just hit enter.
              
              - **Zlib isn't installed?**
                  - We noticed that some people using Ubuntu had issues installing Sinatra because
                    of a missing dependency. Follow [these instructions](https://rvm.io/packages/zlib/)
                    in order to get your gem installs to work.

              - **I was installing XYZ, it says it failed. What should I do?**
                  - Try thinking of your problem in its general terms, then typing them into Google.
                    If you have a specific error message, try that.
                    [Stack Overflow](http://stackoverflow.com/) is a pretty good resource for
                    common problems.

              - **Which text editor should I use?**
                  - It doesn't really matter. If someone tells you to use Emacs or Vim, they mean
                    well, but are likely just going to confuse you. You might want to try 
                    [Gedit](http://projects.gnome.org/gedit/) or
                    [Sublime Text 2](http://www.sublimetext.com/2).

              - **I'm stuck.**
                  - Step 1: *Don't Give Up!*
                  - You probably ran into a problem someone else is having. Please feel free to
                    send an email out with a detailed description of your problem. Someone will
                    likely be able to help. You should include what operating system you are using,
                    and which steps have been completed successfully.

              - **I found an error/typo/omission in this guide.**
                  - Please email [cwdgosu@gmail.com](mailto:cwdgosu@gmail.com) with your keen
                    observation. If you feel really adventurous, you can [submit a pull request
                    with a fix or improvement](https://github.com/CWDG/cwdg.github.com).

        .section.why
          %h2 But why are we installing XYZ program?
          .content
            :markdown
              There are many options for how to create web applications. We have chosen a few
              technologies to use so everyone is using similar software. We think the benefits
              of this will become apparent as people begin creating their own projects. Our
              club members will become experts in these tools capable of actually helping each
              other.

              If you have questions about specific technology choices, please feel free to email
              the mailing list or [cwdgosu@gmail.com](mailto:cwdgosu@gmail.com).
    #footer
      :markdown
        Email [cwdgosu@gmail.com](mailto:cwdgosu@gmail.com) for more information.
