<footer>
  <div class="sponsor-container">
    <div class="sponsor-row">
      <h3>Meetings Sponsored By:</h3>
    </div>
    <div class='sponsor-row'>
      <div class="sponsor-list">
        <li>
          <a href="http://covermymeds.com" alt="CoverMyMeds"><%= image_tag 'CMM_Logo_800.png', id: 'cmm-logo', class: 'cwdg-sponsor-logo' %></a>
        </li>
      </div>
    </div>
    <div class="sponsor-row">
      <p>Email <%= mail_to 'cwdgosu@gmail.com' %> for more information</p>
    </div>
  </div>
</footer>
