<div class="user-auth-navbar">
  <div class="container">
    <div class="logo-container">
      <a href="/">
        <h1 class="logo">&lt;CWDG/&gt; <span>COLLEGIATE WEB DEVELOPERS GROUP</span></h1>
      </a>
    </div>
  </div>
</div>

